@page "/checkout"
@using Northwİnd.Blazor.Models
@using Northwİnd.Blazor.Services.Abstract
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject ICountryService CountryService
@attribute [Authorize]
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink href="/">Home</NavLink></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
                </ol>
            </nav>
        </div>
        <div id="checkout" class="col-lg-9">
            <div class="box">
                <EditForm Model="orderModel" OnValidSubmit="@SetOrder">
                    <DataAnnotationsValidator />
                    <h1>Checkout - Address</h1>
                    <div class="nav flex-column flex-md-row nav-pills text-center"><a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-map-marker">                  </i>Address</a><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-truck">                       </i>Delivery Method</a><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-money">                      </i>Payment Method</a><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye">                     </i>Order Review</a></div>
                    <div class="content py-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="firstname">Firstname</label>
                                    <InputText @bind-Value="orderModel.FullName" type="text" class="form-control" />
                                    <ValidationMessage For="@(()=>orderModel.FullName)" />
                                </div>
                            </div>
                        </div>
                        <!-- /.row-->
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="street">Address</label>
                                    <InputText @bind-Value="orderModel.Address" type="text" class="form-control" />
                                    <ValidationMessage For="@(()=>orderModel.Address)" />
                                </div>
                            </div>
                        </div>
                        <!-- /.row-->
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    @if (Countries != null)
                                    {
                                        <InputSelectNumber Id="countryId" Class="form-control" @bind-Value="@orderModel.CountryId">
                                            @foreach (var item in Countries)
                                                {
                                                <option value="@item.Id">@item.Name</option>
                                                }
                                            /**/
                                            /**/

                                        </InputSelectNumber>
                                    }
                                    <ValidationMessage For="@(()=>orderModel.CountryId)" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Telephone</label>

                                    <InputText @bind-Value="orderModel.Telephone" type="text" class="form-control" />
                                    <ValidationMessage For="@(()=>orderModel.Telephone)" />
                                </div>
                            </div>
                        </div>
                        <!-- /.row-->
                    </div>
                    <div class="box-footer d-flex justify-content-between">
                        <NavLink href="basket" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Basket</NavLink>
                        <button type="submit" class="btn btn-primary">Continue to Delivery Method<i class="fa fa-chevron-right"></i></button>
                    </div>
                </EditForm>
            </div>
            <!-- /.box-->
        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
            <div id="order-summary" class="card">
                <div class="card-header">
                    <h3 class="mt-4 mb-4">Order summary</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>$@SubTotal</th>
                                </tr>
                                <tr>
                                    <td>Shipping and handling</td>
                                    <th>$10.00</th>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <th>$0.00</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>$@Total</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3-->
    </div>
</div>
@code {

    List<Country> Countries;
    List<BasketModel> basketModels;
    OrderModel orderModel = new OrderModel();
    public decimal SubTotal { get; set; }
    public decimal Total { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result = await sessionStorage.GetItemAsync<OrderModel>("order");
        if (result != null)
        {
            orderModel = result;
        }

        basketModels = await sessionStorage.GetItemAsync<List<BasketModel>>("basket");
        SubTotal = await sessionStorage.GetItemAsync<decimal>("subtotal");
        Total = SubTotal + 10;
        Countries = await CountryService.GetCountries();

    }
    async Task SetOrder()
    {
        await sessionStorage.SetItemAsync("order", orderModel);
        NavigationManager.NavigateTo("/checkout2");
    }
}