@page  "/checkout4"
@using Northwİnd.Blazor.Models
@using Northwİnd.Blazor.Services.Abstract
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@inject ICountryService CountryService
@inject IOrderService OrderService
@attribute [Authorize]

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink href="/">Home</NavLink></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout - Order review</li>
                </ol>
            </nav>
        </div>
        <div id="checkout" class="col-lg-9">
            <div class="box">
                <EditForm Model="basketModels" OnValidSubmit="ApplyOrder">
                    <h1>Checkout - Order review</h1>
                    <div class="nav flex-column flex-sm-row nav-pills"><NavLink href="checkout" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-map-marker">                  </i>Address</NavLink><NavLink href="checkout2" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-truck">                       </i>Delivery Method</NavLink><NavLink href="checkout3" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-money">                      </i>Payment Method</NavLink><a href="#" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-eye">                     </i>Order Review</a></div>
                    <div class="content">
                        <div class="table-responsive">
                            @if (basketModels != null)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        @foreach (var basketModel in basketModels)
                                        {

                                            decimal discountPrice = basketModel.Product.UnitPrice - (basketModel.Product.UnitPrice * ((decimal)basketModel.Product.Discount / 100));
                                            if (SubTotal == 0)
                                            {
                                                SubTotal += discountPrice * (decimal)basketModel.Quantity;
                                            }

                                            <tr>


                                                <td><a href="#"><img src="@basketModel.Product.ImgUrl" alt="@basketModel.Product.Name"></a></td>
                                                <td><a href="#">@basketModel.Product.Name</a></td>
                                                <td>
                                                    @basketModel.Quantity
                                                </td>
                                                <td>@basketModel.Product.UnitPrice</td>
                                                <td>@basketModel.Product.Discount</td>
                                                <td>@discountPrice</td>
                                                <td><a href="#"><i class="fa fa-trash-o"></i></a></td>

                                            </tr>

                                        }
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">$@SubTotal </th>
                                        </tr>
                                    </tfoot>
                                </table>
                                Total = SubTotal + 10;

                            }
                        </div>
                        <!-- /.table-responsive-->
                    </div>
                    <!-- /.content-->
                    <div class="box-footer d-flex justify-content-between">
                        <NavLink href="checkout3" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to payment method</NavLink>
                        <button type="submit" class="btn btn-primary">Place an order<i class="fa fa-chevron-right"></i></button>
                    </div>
                </EditForm>
            </div>
            <!-- /.box-->
        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
            <div id="order-summary" class="card">
                <div class="card-header">
                    <h3 class="mt-4 mb-4">Order summary</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>$@SubTotal</th>
                                </tr>
                                <tr>
                                    <td>Shipping and handling</td>
                                    <th>$10.00</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>$@Total</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3-->
    </div>
</div>
@code{
    List<BasketModel> basketModels = new List<BasketModel>();
    OrderModel orderModel = new OrderModel();
    public decimal SubTotal { get; set; }
    public decimal Total { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result = await sessionStorage.GetItemAsync<OrderModel>("order");
        if (result != null)
        {
            orderModel = result;
        }

        basketModels = await sessionStorage.GetItemAsync<List<BasketModel>>("basket");
        SubTotal = await sessionStorage.GetItemAsync<decimal>("subtotal");
        Total = SubTotal + 10;

    }
    async Task ApplyOrder()
    {
        var loginUserId = await localStorage.GetItemAsync<long>("loginUserId");
        orderModel.Status = "Order was placed";
        orderModel.UserId = loginUserId;
        orderModel.Total = Total;

        await sessionStorage.SetItemAsync("order", orderModel);
        var orderId = await OrderService.Order();
        NavigationManager.NavigateTo("/customerorder/" + orderId);
    }
}